# =====================================
# Python
# =====================================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# =====================================
# Virtual environments
# =====================================
.venv/
venv/
env/

# =====================================
# IDEs
# =====================================
.idea/
.vscode/
*.iml

# =====================================
# macOS
# =====================================
.DS_Store

# =====================================
# Logs & temp files
# =====================================
logs/
*.log
tmp/
*.tmp

# =====================================
# Airflow
# =====================================
airflow.db
airflow.cfg
airflow-webserver.pid

# Airflow runtime folders
dags/__pycache__/
plugins/__pycache__/

# =====================================
# Data (VERY IMPORTANT)
# =====================================
data/
project/data/raw/
project/data/silver/
project/data/gold/
project/output/

# =====================================
# Spark
# =====================================
spark-warehouse/
derby.log
metastore_db/

# =====================================
# Docker
# =====================================
*.env
.env
docker-compose.override.yml

# =====================================
# Database / Migrations
# =====================================
*.sqlite
*.db

# =====================================
# OS / Misc
# =====================================
nohup.out
